.nosotros-section {
    background-color: rgba(29, 28, 28, 0.778);
    padding: 60px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .nosotros-container {
    max-width: 800px;
    margin: 50px;
    text-align: center;
  }

  .nosotros-container-galeria {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
  }
  
  .nosotros-title {
    font-size: 2.5rem;
    color: #ffb300;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .nosotros-text {
    font-size: 1.125rem;
    color: #ececec;
    margin-bottom: 20px;
    line-height: 1.6;
  }

@media (max-width:768px) {
    .nosotros-section {
        flex-direction: column;
    }
}

@media (max-width:480px) {
    .mobile-hidden {
        display: none;
    }

    .nosotros-title {
        font-size: 1.8rem;
    }

    .nosotros-text {
        font-size: 1.2rem;
    }
}

@media (max-width:480px) {

  .nosotros-title {
      font-size: 1.6rem;
  }

  .nosotros-text {
      font-size: 1.15rem;
  }
}