/* Reset global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* La importacion de archivo var.css donde definimos las variables para usar en los estilos
esta hecha en el HTML, la saque de aca porque tenerla dos veces puede generar conflictos
por duplicacion y puede afectar la performance. */

/* Estilitos iniciales y provisionales, recontra sujetos a cambios*/
/* Ideas: definir una var con un color "primary", y elegir un color primario, y posiblemente uno secundario con una var "secundary" */
body {
  font-family: var(--font-text);
  background-color: #e6e6e6;
  padding: 1rem;
}

.header {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons button {
  margin-left: 0.5rem;
  background-color: var(--buttonColour);   
  color: white;                
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.auth-buttons button:hover {
  background-color: #6a3fcf;  
  transform: scale(1.1);
}

.filters {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-buttons button {
  background-color: var(--buttonColour);  
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filter-buttons button:hover {
  cursor: pointer;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.product-card {
  background-color: white;
  padding: 2rem;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  font-family: var(--font-text);
  background-color: var(--primary);
  color: white;
  margin-top: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title); /* Fuente SOLO PARA TITULOS/COSAS IMPORTANTES */
}

@media (max-width: 768px) {
  .product-card {
    width: 100%;
  }

  .filters {
    flex-direction: column;
  }
}
